.logo-sopra{
    background-color: #0f2453;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
    font-family: 'Brush Script MT', cursive;
}

.logo-sopra img {
    border-radius: 80px;
    width: min(40%, 300px);
    padding: 3%;
    display: block;
    margin: 0 auto;
}
.logo-sopra h1{
    margin: 0 auto;
}
