body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #0f2453;
    margin-bottom: 30px;
}

ul {
    text-align: left;
    display: inline-block;
}

.logo-sopra{
    background-color: #0f2453;
}

.logo-sopra img {
    border-radius: 30px;
    width: min(40%, 300px);
    padding: 3%;
    display: block;
    margin: 0 auto;
}
