body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #0f2453;
    margin-bottom: 30px;
}

ul {
    text-align: left;
    display: inline-block;
}

.table-responsive th, .table-responsive td {
    border-bottom: 1px solid #dee2e6; /* Add bottom border to all cells */
    height: 60px;
  }

@media (min-width: 1000px) {
    .table-responsive td{
        padding-right: 75px;
        padding-left: 75px;
    }
}
